cc:
 #unixadmin: codeclub-password   # if empty we will prompt
 #unixuser:  scratch-password    # if empty we will prompt 
 ssh_authorized_keys:
          - "ssh-rsa AAAA..... comment1"
          - "ssh-rsa AAAA... comment2"
 accesspoints:
  my-ssid1:
   password: my-password1 
  my-ssid2:
   password: my-password2 
 rename: # From serial number to our naming - otherwise the default will be an hash 
   # make view 
   # or dmidecode -s chassis-serial-number | openssl sha256 -hex
   ca7e331a5d249b441322faba9a6aa271ddddd71a6abb7e5077e0a2657832125f: mickey2
   20ef0f0c8d0eea98772412cea9b3b92612e3e53cb5e59152b5703165f56e8a53: donald