cc:
 unixadmin: codeclub 
 unixuser:  scratch 
 ssh_authorized_keys:
          - "ssh-rsa AAAA..... comment1"
          - "ssh-rsa AAAA... comment2"
 accesspoints:
  my-ssid1:
   password: my-password1 
  my-ssid2:
   password: my-password2 
 rename:
   