  ####    ####   #####   ######   ####   #       #    #  #####
 #    #  #    #  #    #  #       #    #  #       #    #  #    #
 #       #    #  #    #  #####   #       #       #    #  #####
 #       #    #  #    #  #       #       #       #    #  #    #
 #    #  #    #  #    #  #       #    #  #       #    #  #    #
  ####    ####   #####   ######   ####   ######   ####   #####

{% for item in cc.sudo.cmnd | default([]) %}
sudo {{ item.members }}
{% endfor %}


sudo -l

