version: 2
renderer: networkd
ethernets:
      {{ cc.if }}:
        dhcp4: true
wifis: # if error run sudo netplan try
      {{ cc.wif }}:
        dhcp4: true
        access-points:
{% for key, value in cc.accesspoints.items() %}
         "{{ key }}":
          password: "{{ value["password"] }}" 
{% endfor %}


