#!/bin/sh


OPT="-p"

OPTSTRING=":f"

while getopts ${OPTSTRING} opt; do
  case ${opt} in
    f)
      OPT=""
      ;;
    ?)
      echo "Invalid option: -${OPTARG}."
      exit 1
      ;;
  esac
done

DEVICE="{{ cc.dev }}"
CIDATADIR="{{ cc.cidatadir }}"


test  "$(lsblk -l -p -n $DEVICE -o HOTPLUG | sort |uniq)" -eq "1" && {
cd $CIDATADIR && cloud-localds nocloud.iso   user-data meta-data
lsblk -l -p -n $DEVICE  | awk 'NF > 6 {print $1}' | xargs -n1 -r $OPT sudo umount
sudo dd if=nocloud.iso of=$DEVICE bs=1k conv=fdatasync status=progress
}
