#cloud-config
# cloud-init directives may optionally be specified here.
# These directives affect the ephemeral system performing the installation.
runcmd:
  - [eval, 'echo $(cat /proc/cmdline) "autoinstall" > /root/cmdline']
  - [eval, 'mount -n --bind -o ro /root/cmdline /proc/cmdline']
  - [eval, 'snap restart subiquity.subiquity-server']
  - [eval, 'snap restart subiquity.subiquity-service']
autoinstall:
    # autoinstall directives must be specified here, not directly at the
    # top level.  These directives are processed by the Ubuntu Installer,
    # and configure the target system to be installed.
  version: 1
  chpasswd:
   expire: false
  ssh_pwauth: true
  identity:
    hostname: ubuntu 
    username: ubuntu
    password: "{{ cc.hash }}"
  ssh:
    install-server: true
    # option "allow-pw" defaults to "true" if authorized_keys is empty, "false" otherwise.
    allow-pw: true
  # "[late-commands] are run in the installer environment with the installed system mounted at /target."
  late-commands:
    # randomly generate the hostname & show the IP at boot
    - echo "{{ cc.hostname }}" > /target/etc/hostname
    # dump the IP out at login screen
    - echo "{{ cc.issue }}" > /target/etc/issue
    - mkdir -p /root/laptop 
    - echo "@reboot git clone {{ cc.git }} /root/laptop" >> /target/var/spool/cron/crontabs/root
    - echo "@reboot ansible-playbook /root/laptop/boot.yaml" >> /target/var/spool/cron/crontabs/root
    - echo "@reboot test -f /root/laptop/boot.sh && /bin/bash /root/laptop/boot.sh" >> /target/var/spool/cron/crontabs/root
  user-data:
        # cloud-init directives may also be optionally be specified here.
        # These directives also affect the target system to be installed,
        # and are processed on first boot.
    disable_root: true
    timezone: Europe/Luxembourg
    package_upgrade: false
    keyboard:
     layout: sw
    packages:
     - ansible-core
     - net-tools
     - git
     - wireless-tools
     - isc-dhcp-client
     - whois
     #- network-manager
    ansible:
      install_method: pip
      pull:
       url: "{{ cc.git }}"
       playbook_name: "first.yaml"
    users:
      - default
      - name: codeclub
        primary_group: users
        groups: sudo,admin
        sudo: "ALL=(ALL) NOPASSWD:ALL"
        lock_passwd: false
        # don't need PW since using SSH, leaving this in though...
        # password is "changeme" - created with docker run -it --rm alpine mkpasswd --method=SHA-512
        passwd: "{{ cc.hash }}"
        shell: /bin/bash
        ssh_authorized_keys:
{% for value in cc.ssh_authorized_keys %}
          - "{{ value }}"
{% endfor %}
      - name: scratch
        primary_group: users
        lock_passwd: false
        passwd: "{{ cc.hashu }}"
        shell: /bin/bash
        ssh_authorized_keys:
{% for value in cc.ssh_authorized_keys %}
          - "{{ value }}"
{% endfor %}
  # shutdown after first host initial provisioning
  shutdown: reboot 
  network:
    version: 2
    renderer: networkd
    ethernets:
      {{ cc.if }}:
        dhcp4: true
    wifis: # if error run sudo netplan try
      {{ cc.wif }}:
        dhcp4: true
        access-points:
{% for key, value in cc.accesspoints.items() %}
         "{{ key }}":
          password: "{{ value["password"] }}" 
{% endfor %}


